# This file contains Stealthchanger config for the LDO Nitehawk-36 Toolboard
# To use this config, the firmware should be compiled for the Raspberry Pi RP2040

# See https://docs.ldomotors.com/en/voron/nitehawk-sb#firmware-setup-and-update
# For instructions on uploading/updating klipper firmware to the PCB

## LDO Nitehawk-36 for Stealthchanger Config

## *** THINGS TO CHANGE/CHECK: ***
## MCU paths                            [mcu] section
## Rotation_distance                    [extruder] section
## Gear Ratio                           [extruder] section
## Thermistor types                     [extruder] section
## PID values                           [extruder] section
## gcode xyz offsets                    [tool T{N}] section
## xyz offsets                          [tool_probe T{N}] section

## *MAKE SURE* to include this config file *AFTER* the main controller config. 
## This will ensure the relavent sections are overwritten by the pin mappings specified here.

[mcu nhkT2]
serial: /dev/serial/by-id/usb-Klipper_rp2040_4E363334320ECF92-if00
restart_method: command

#####################################################################
# Extruder
#####################################################################
[extruder2]
step_pin: nhkT2:gpio23
dir_pin: nhkT2:gpio24
enable_pin: !nhkT2:gpio25
microsteps: 32
full_steps_per_rotation: 200
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
rotation_distance: 22.9057406
gear_ratio: 50:10 # Sherpa Mini
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: nhkT2:gpio9

sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: nhkT2:gpio29
pullup_resistor: 2200
min_temp: 0
max_temp: 290
max_power: 1.0
min_extrude_temp: 170
pressure_advance: 0.04 
pressure_advance_smooth_time:0.040 
max_extrude_cross_section: 2.0
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
#Nozzle temperature PID calibration command: "PID_CALIBRATE HEATER=extruder2 TARGET=220
control= pid
pid_Kp = 22.827
pid_Ki = 2.454
pid_Kd = 53.073

[tmc2209 extruder2]
uart_pin: nhkT2:gpio0
tx_pin: nhkT2:gpio1
sense_resistor: 0.100
interpolate: False
run_current: 0.35
stealthchop_threshold: 0

#####################################################################
#   Fan Control
#####################################################################
[fan_generic T2_part_fan]
pin: nhkT2:gpio6
kick_start_time: 0.5
off_below: 0.10

[heater_fan T2_hotend_fan]
pin: nhkT2:gpio5
#tachometer_pin: nhkT2:gpio16
#tachometer_ppr: 2
heater: extruder2
heater_temp: 50.0
kick_start_time: 0.5
max_power: 1.0

#####################################################################
#   Filament Sensor
#####################################################################
#[filament_switch_sensor filament_sensor]
#switch_pin: nhkT2:gpio3
#pause_on_runout: True

#####################################################################
#   Temperature Sensor
#####################################################################
[temperature_sensor T2_nitehawk_temp]
## Nitehawk PCB Sensor
sensor_type: temperature_mcu
sensor_mcu: nhkT2
# sensor_pin: nhkT2:gpio26
# pullup_resistor: 2200
min_temp: 0
max_temp: 100
gcode_id: nh_th2

#####################################################################
#   Accelerometer
#####################################################################
[adxl345 T2]
cs_pin: nhkT2:gpio27
spi_software_sclk_pin: nhkT2:gpio18
spi_software_mosi_pin: nhkT2:gpio20
spi_software_miso_pin: nhkT2:gpio19
axes_map: x,y,z

#####################################################################
#   LEDs
#####################################################################
## Connected to led (NH36
[output_pin T2_pcb_led]
pin: !nhkT2:gpio8

## Connected to NEOPIXEL (NH36)
[neopixel T2]
pin: nhkT2:gpio7
chain_count: 23
color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.5

#####################################################################
#   Toolchanger Configs
#####################################################################
[gcode_macro T2]
variable_active: 0 # Must be zero.
variable_color: "" # Leave empty
gcode:
  SELECT_TOOL T=2

[tool T2]
tool_number: 2
extruder: extruder2
fan: T2_part_fan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
params_type: 'sc'
#This is the path the tool change takes. Shouldn't have to change it. Unless
#you are using a custom dock
#params_sc_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
params_sc_path: [{'y':9.5 ,'z':7}, {'y':9.5, 'z':5}, {'y':1, 'z':2}, {'y':1, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 137.70
params_park_y: -17.85
params_park_z: 291.00
# params_safe_y: 20.0
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: '3hump_ei'
params_input_shaper_freq_x: 133.8
params_input_shaper_damping_ratio_x: 0.1
params_input_shaper_type_y: 'ei'
params_input_shaper_freq_y: 47.4
params_input_shaper_damping_ratio_y: 0.1

[tool_probe T2]
pin: nhkT2:gpio10
tool: 2
z_offset: 0 # Z axis-sensor relative nozzle offset
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 2.0
lift_speed: 5
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder2